.chatbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 10px;
  position: relative;
  flex-direction: row;
  .input {
    flex: 2;
    @media screen and (min-width: 768px) {
      flex: 3;
    }
  }
  input {
    border: 0;
    font-size: 15px;
    color: #fff;
    padding: 10px 15px;
    outline: 0;
    background: transparent;
    width: 90%;
    margin-bottom: 30px;
    border-bottom: 1px solid #d1deeb;
    resize: none;
    display: block;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      width: 80%;
    }
  }
  .keyboard {
    flex: 1;
    padding-bottom: 20px;
  }
  .emojiKeyboard {
    padding: 10px;
    cursor: pointer;
  }
  .imgUpload {
    display: none;
  }
  label {
    color: grey;
    padding: 10px;
    font-size: 30px;
  }
  .gifSelection {
    padding: 1px;
    color: grey;
    font-size: 11px;
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
  }
  .positionBoard {
    position: absolute;
    top: -350px;
    right: 10px;
    @media screen and (min-width: 768px) {
      right: 150px;
    }
  }
}
